<div class="div">
    <div class="btn">
        <span>User name</span>
        <input type="text" [(ngModel)]="user.userName" class="button">
    </div>
    <br>
    <span>Password</span>
    <input type="password" [(ngModel)]="user.password" class="button">
    <br>
    <span>Client type</span>
    <select [(ngModel)]="user.clientType" class="button">
        <option value="CLIENT">Client</option>
        <option value="COMPANY">Company</option>
        <option value="ADMIN">Admin</option>
    </select>
    <button (click)="log(user)">Submit</button> {{ user | json }} {{result | json}}
</div>