.example-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    width: 80%;
    border: 3px solid black;
    padding: 30px;
  }
  
  .example-container > * {
    width: 100%;
  }

  .button {
    margin: auto;
    background-color: grey;
    text-align: center;
  }