@import "../node_modules/@angular/material/prebuilt-themes/deeppurple-amber.css";

.header {
    padding: 0px 10px;
    justify-content: space-between;
    display: flex;
    background-color: gray;
    box-shadow: 4px 4px 4px 4px grey;
    align-items: center;
}
html, body { height: 100%; }


